<!DOCTYPE html>
<html lang="az">
<head>
<meta charset="UTF-8">
<title>AppleCenter</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white text-black">

<!-- NAV -->
<nav class="bg-black text-white flex justify-between p-4 px-10">

<div class="flex items-center gap-2">
<img src="/static/logo.png" class="w-8">
<span>AppleCenter</span>
</div>

<form action="/" method="GET">
<input name="q" placeholder="Axtar..." class="p-2 rounded text-black">
</form>

<div class="flex gap-4">
<button onclick="toggleDark()">🌙</button>
<a href="/admin" class="opacity-20 hover:opacity-100">admin</a>
</div>

</nav>

<!-- PRODUCTS -->
<div class="grid md:grid-cols-3 gap-10 p-10">
{% for p in products %}
<div class="bg-gray-100 p-5 rounded-2xl text-center">

<a href="/product/{{p.id}}">
<img src="{{p.image}}" class="h-52 mx-auto">
<h2 class="text-xl mt-3">{{p.name}}</h2>
</a>

<p class="text-gray-500">{{p.price}} AZN</p>

<div class="flex justify-between mt-3">
<a href="/wishlist/add/{{p.id}}">❤️ {{p.likes}}</a>
<a href="/product/{{p.id}}">Bax</a>
</div>

</div>
{% endfor %}
</div>

<script>
function toggleDark(){
document.body.classList.toggle("bg-black")
document.body.classList.toggle("text-white")
}
</script>

</body>
</html>
