<!DOCTYPE html>
<html lang="az">
<head>
<meta charset="UTF-8">
<title>AppleCenter | Premium Store</title>
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-[#fbfbfd]">

<!-- NAV -->
<div class="flex justify-between items-center p-6 bg-black text-white">
<div class="flex items-center gap-2">
<img src="/static/logo.png" class="w-8 h-8">
<span class="font-bold text-lg">AppleCenter</span>
</div>

<div class="hidden md:flex gap-6">
<a href="/category/iPhone">iPhone</a>
<a href="/category/iPad">iPad</a>
<a href="/category/Mac">Mac</a>
<a href="/category/Watch">Watch</a>
<a href="/category/AirPods">AirPods</a>
<a href="/category/Aksesuar">Aksesuar</a>
</div>
</div>

<!-- HERO -->
<div class="text-center py-20">
<h1 class="text-5xl font-bold">Apple Store</h1>
<p class="text-gray-500 mt-2">Premium texnologiya</p>
</div>

<!-- PRODUCTS -->
<div class="grid md:grid-cols-3 gap-10 px-10 pb-20">
{% for p in products %}
<div class="bg-white p-6 text-center rounded-xl shadow-md">
<img src="{{p.image}}" class="h-60 mx-auto">
<h2 class="text-xl font-semibold mt-4">{{p.name}}</h2>
<p class="text-gray-500">{{p.price}} AZN</p>

<!-- FAVORITE -->
<p class="mt-2 text-red-500 cursor-pointer">
<a href="/wishlist/add/{{p.id}}">❤️ {{p.likes}}</a>
</p>

<a href="/product/{{p.id}}" class="mt-4 block bg-blue-600 text-white p-2 rounded-lg">Bax</a>
</div>
{% endfor %}
</div>

</body>
</html>
